@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Chivo);

body {
 font-family: 'Lato',Arial,sans-serif;
  color: #333;
  background:#CACACA;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
   
	 height: auto;
}
/* To Navigation Style */
.codeconTop {
   background:#523D1F;
    font-size: 0.69em;
    line-height: 2.2;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}

.codeconTop a {
    color: #fff;
    display: inline-block;
    letter-spacing: 0.1em;
    padding: 2em;
    text-decoration: none;
}

.codeconTop a:hover {
	background: rgba(255,255,255,0.95);
	color: #716d62;
}

.codeconTop span.right {
	float: right;
}

.codeconTop span.right a {
	float: left;
	display: block;
}


header {
   text-align: center;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
	padding-top:50px;
}

section {
    display: block;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    padding: 2em 4em 0;
    text-align: center;
}
.descriptions{
	margin: 0 auto;
    padding-bottom: 0;
    padding-left:72px;
	line-height:25px;
}

h1 {
    font-size: 2.625em;
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
}

h2 {
    font-size: 24px;
    line-height: 1.3;
    margin: 0;
}

.clearfix {
    clear: both;
}

strong{
font-size:14px;
}
em{
font-size:11px;
}

.cctop {
	background:#222222; 
	padding:12px;
	overflow: auto;
}



.navbar-brand {
	color:#FFFFFF;
}


a.navbar-brand :hover{ color:#FFFFFF;}
.menus {
	padding: 2em 0 3em;
}

.menus a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	outline: none;
	background:#FFFFFF;
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	font-weight: 700;
	opacity: 1;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	color:#608ebd;
}

.menus a:hover{
color:#0156ac;
}

.bottom {
	padding-bottom: 4em;
	color: rgba(0,0,0,0.4);
	text-align:center;
}

.bottom a {
	display: inline-block;
	margin-top: 0.5em;
	color:#FFFFFF;
	text-decoration:none;
}


footer {
    background-color: #FFFFFF;
    padding:12px;
    margin-top: 60px;
	 color: #BBBBBB;
    font-family: 'Chivo',Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 14px;
    text-transform: uppercase;
	text-align:center;
}

footer a{
	color: #BBBBBB;
}


